{% load humanize %} {% load static %}

<div class="col-lg-4 mb-4">
    <!-- Tabla -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de espera</h6></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"  cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha inscripcion</th>
                            <th>Wallet</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in dic_list %}
                            <tr>
                                <td class="small align-middle">{{a.fecha}}</td>
                                <td class="small align-middle">{{a.wallet}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>